table,
th,
button,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  color: darkblue;
  font-size: 32px;
}

th,
td {
  padding: 5px;
}

button {
  margin:0 auto;
  display:block;
}
input {
  width: 25px;
  height: 25px;
}